{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  
    <div class="latest-news-section p-0">
      <div class="blog-content">
        {%- if article.image -%}
        <div class="blog-image">
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <img
            srcset="
              {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
              {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ article.image.src | image_url }} {{ article.image.src.width }}w
            "
            src="{{ article.image.src | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ article.image.src.alt | escape }}"
            class="motion-reduce img-fluid"
            {% unless lazy_load == false %}
              loading="lazy"
            {% endunless %}
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
          >
          {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
        </div>
        {% endif %}
        <div class="blog-txt-content">
           {%- if show_date -%}
               <p>{{ article.published_at | time_tag: format: 'date' }}</p>
           {% endif %} 
          {%- if show_author -%}
                <p class="mt-3">{{ article.author }}</p>
          {%- endif -%}
            <h2 class="heading-type2"> 
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title | truncate: 70 | escape}}
              </a>
            </h2>
            <a class="primary-btn common-btn" href="{{ article.url }}">Read More</a>  
        </div>
      </div>
    </div>
  
{%- endif -%}
