{% include 'shogun-content-handler' %}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script src="https://cdn.userway.org/widget.js" data-account="2xDigTdBpS"></script><script src="https://cdn.userway.org/widget.js" data-account="2xDigTdBpS"></script>


    <link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"sanho.myshopify.com",ver:"2.16",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","text/plain")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes("/first")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+""+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://api.config-security.com/first?host=sanho.myshopify.com&plat=SHOPIFY",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KTMMK6S');</script>
    <!-- End Google Tag Manager -->
<!-- TikTok Pixel Code Start --> <script> !function (w, d, t) { w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for( var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script") ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)}; ttq.load('CLEFKTBC77UAT65EJ1O0'); ttq.page(); }(window, document, 'ttq'); </script> <!-- TikTok Pixel Code End -->
    <meta name="google-site-verification" content="Jf-0DovDM7NdRpyzsWbXDMwkp73dHu7etk4XSzE93Gs" />

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','OPT-WJHPFDJ');</script>
    <!-- End Google Tag Manager -->

    <!-- Reddit Pixel -->
        <script>
        !function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','a2_f68bksrjbaud');rdt('track', 'PageVisit');
        </script>
    <!-- DO NOT MODIFY UNLESS TO REPLACE A USER IDENTIFIER -->
    <!-- End Reddit Pixel -->
    {% include 'limespot' %}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% render 'theme_tracking' %}
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'">
    
    {% render 'meta-tags' %}
    {% render 'css-fonts' %}

    {{ content_for_header }}

    <link rel="preload" href="{{ 'bootstrap.min.css' | asset_url }}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'style.css' | asset_url }}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'slider1.css' | asset_url }}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'owl.carousel.min.css' | asset_url }}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'menu.css' | asset_url }}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">

    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery-3.4.1.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'menu.js' | asset_url }}" defer="defer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
 <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>

    <!-- Extend -- Load Extend SDK Configuration script -->
    {% render 'extend-configuration' %}
    <!-- Extend -- End Extend code -->
    {% render 'shogun-head' %}
      <script>
const redirects = {
    "https://www.hypershop.com/collections/all/stylus": "https://www.hypershop.com/collections/all",
    "https://www.hypershop.com/collections/all-products": "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/power-the-holidays-with-chargers-and-battery-packs" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?q=hyperdrive" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/vendors?q=hypershield" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/spring-sale-2023" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/halloween-sale-2021" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/welcome-cult-of-mac-readers?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/ces-2022-innovation" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?q=hyperjuice" : "https://www.hypershop.com/collections/hyperjuice",
"https://www.hypershop.com/collections/vendors?q=hyperthin" : "https://www.hypershop.com/collections/hyperthin",
"https://www.hypershop.com/collections/doorbusters-wireless-chargers" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/a-perfect-pair" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperjuice-travel-bundle" : "https://www.hypershop.com/collections/hyperjuice",
"https://www.hypershop.com/collections/free-gift-on-orders-over-100" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/hypers-social-giveaway-terms-and-conditions" : "https://www.hypershop.com/",
"https://www.hypershop.com/collections/the-after-christmas-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/buy-1-get-1-50-off" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/macbook-battery" : "https://www.hypershop.com/collections/battery-packs-1",
"https://www.hypershop.com/pages/product-genius" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive/port-3-5mm-audio-jack" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/hyperdrive-4k-multi-display-docking-station" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/welcome-9-to-5-mac-readers" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-type-c" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/midnight-blue-usb-c-hubs" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/welcome-cult-of-mac-readers" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/affiliate-special" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/after-x-mas-sale-accessories" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day-2021?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/memorial-day-sale-2021" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/2023-holiday-gift-guide" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/apple-lightning-usb-cables" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/cyber-monday-doorbusters-deals" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/4th-of-july-2023" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/6-hr-flash-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/new-year-new-workflow" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/welcome-apple-insider-readers" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/back-to-school-2023" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/gen2-usb-c-docks" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/gold" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/hyperjuice-for-macbook-1" : "https://www.hypershop.com/collections/hyperjuice",
"https://www.hypershop.com/collections/windows-laptop" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/hyperdrive/port-gigabit-ethernet" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/st-patricks-day-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive/port-micro-sd" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/hyperjuice/apple-lightning" : "https://www.hypershop.com/collections/hyperjuice/",
"https://www.hypershop.com/collections/hyperjuice-portable-chargers" : "https://www.hypershop.com/collections/hyperjuice/",
"https://www.hypershop.com/collections/2023-black-friday" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/blogs/news/tagged/reviews" : "https://www.hypershop.com/blogs/news",
"https://www.hypershop.com/collections/sale/usb-a" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/best-selling-hubs" : "https://www.hypershop.com/collections/usb-c-cables",
"https://www.hypershop.com/collections/hyperdrive/micro-sd" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/hyper-day-2020?" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/new/side-mount" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/cyber-monday-2023" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive-next-hubs" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/battery-pack/magsafe" : "https://www.hypershop.com/collections/power",
"https://www.hypershop.com/collections/bf-doorbusters-2020" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/battery-pack/" : "https://www.hypershop.com/collections/battery-packs-1",
"https://www.hypershop.com/collections/hyperjuice/wireless-charger" : "https://www.hypershop.com/collections/wireless-chargers",
"https://www.hypershop.com/collections/2024-spring-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/all/thunderbolt-3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive/iphone-5s" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/hyperjuice-for-macbook" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/all/battery-pack" : "https://www.hypershop.com/collections/battery-packs-1",
"https://www.hypershop.com/pages/hyper-gan-charger" : "https://www.hypershop.com/collections/hyperjuice-gan-chargers",
"https://www.hypershop.com/collections/desktop-wireless-chargers" : "https://www.hypershop.com/collections/wireless-chargers",
"https://www.hypershop.com/pages/hyper-ces-2022" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/all/ac" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/sale?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperjuice/apple-watch" : "https://www.hypershop.com/collections/hyperjuice/",
"https://www.hypershop.com/collections/sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive/storage" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/all/magsafe" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/holiday-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/cables/cable" : "https://www.hypershop.com/collections/cables",
"https://www.hypershop.com/collections/hyperdrive/vga" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/hyperdrive/hdmi" : "https://www.hypershop.com/collections/hyperdrive",
"https://www.hypershop.com/collections/bundle-save" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hd-webcam" : "https://www.hypershop.com/collections/webcams",
"https://www.hypershop.com/collections/hyperjuice/magsafe" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/docks" : "https://www.hypershop.com/collections/usb-c-docks",
"https://www.hypershop.com/collections/hyperjuice/car" : "https://www.hypershop.com/collections/hyperjuice/",
"https://www.hypershop.com/collections/spooky-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/pearl" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/all/stylus" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/clearance" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/pearl/pearl" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/after-x-mas-sale-hubs-and-docks?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/battery-packs-and-chargers-for-iphone-15" : "https://www.hypershop.com/collections/iphone",
"https://www.hypershop.com/collections/welcome-macrumors-readers?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/stand-and-go-sleeves" : "https://www.hypershop.com/collections/laptop-sleeves",
"https://www.hypershop.com/collections/cyber-monday-2023?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/exclude-prime-day-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/go-beyond-your-workspace" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/battery-packs" : "https://www.hypershop.com/collections/battery-packs-1",
"https://www.hypershop.com/blogs/news/tagged/lawsuit" : "https://www.hypershop.com/blogs/news",
"https://www.hypershop.com/collections/hyperjuice-chargers-and-battery-packs" : "https://www.hypershop.com/collections/power",
"https://www.hypershop.com/collections/the-after-christmas-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/creativity-in-bloom-sale-save-upto-50-percent" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/my-new-test-page_kb" : "https://www.hypershop.com/",
"https://www.hypershop.com/collections/gift-guide-chargers-and-battery-packs" : "https://www.hypershop.com/collections/power",
"https://www.hypershop.com/collections/up-to-60-off-docks-and-hubs-for-cyber-monday" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/1-day-holiday-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/holiday-thunderbolt-deals" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/new/port-usb-c-pd" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/black-friday-doorbusters-great-deals-from-35-to-60-off" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/welcome-9-to-5-mac-readers?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/doorbusters-battery-packs" : "https://www.hypershop.com/collections/battery-packs-1",
"https://www.hypershop.com/collections/fathers-day-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/surface" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/elevate-your-new-macbook-air-m3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/pearl/port-usb-a" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperjuice/port-usb-c-pd" : "https://www.hypershop.com/collections/hyperjuice/",
"https://www.hypershop.com/collections/usb-c-hubs/hdmi" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/world-tourism-day" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/perkspot-special" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/power/magsafe" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?page=5&q=hyperdrive" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hypers-pro-setup-for-photographers" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyper-day-sale-2021" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/creativity-in-bloom-sale-save-upto-50-percent?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/sale/usb-a?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/products/off-campus-special-hyperpack-pro-hyperjuice-245w-battery-pack-2m-usb-c-cable" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/invalid-referral" : "https://www.hypershop.com/",
"https://www.hypershop.com/pages/search-results-page?q=sd enclosure" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?page=4&q=hyperdrive" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/battery-pack/ac" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/fathers-day-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?page=3&q=hyperdrive" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-for-2018-ipad-pro" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/2023-black-friday?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day-gift-guide-2020" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/up-to-60-off-docks-and-hubs-for-cyber-monday?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/cyber-monday-deals-cables" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/sitemap_products_1.xml?from=740986947&to=4654626766910" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/ebs-landing" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/fourth-of-july-2020" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/black-friday-deals-under-75?page=1" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/2023-black-friday?page=4" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/halloween-sale?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/halloween-sale?page=4" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/sale/ipad-pro" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/2023-holiday-gift-guide-deals" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/halloween-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyper-day-sale" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/back-to-school-2023?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/search-results-page?page=6&q=hyper drive" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-for-all-usb-c-devices/mini-displayport" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-with-usb-a/port-thunderbolt-3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/blogs/news/tagged/guide" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-for-all-usb-c-devices/vga" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/blogs/news/tagged/notice" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-with-usb-a/gigabit-ethernet" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/4th-of-july-2023?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/cyber-monday-2023?page=4" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/bf-doorbusters-2020?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/back-to-school-2023?page=4" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/memorial-day-sale?page=1" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/labor-day-2020" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/after-x-mas-sale-hubs-and-docks?page=1" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/up-to-60-off-docks-and-hubs-for-cyber-monday?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/gift-guide-stocking-stuffers?page=1" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/search-results-page?page=2&q=mac mini" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/new-year-new-workflow?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/lucky-you-save-up-to-50-off?page=4" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/dads-and-grads-2022" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/6-hr-flash-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/memorial-day-sale?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/black-friday-deals-under-75?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/1-day-holiday-sale?page=3" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/up-to-40-off-sleeves-for-cyber-monday" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?page=2&q=hyperdrive" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/cyber-monday-2023?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/mothers-day-2021?page=1" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperjuice/ac" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/vendors?page=%E5%AF%8C%E8%81%94%E5%A8%B1%E4%B9%90%E3%80%90www%C2%B7432v%C2%B7com%E3%80%91UED%E5%9C%A8%E7%BA%BF1%E5%BD%A92%E5%A8%B1%E4%B9%90" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs-and-adapters?sort_by=created-descending" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/sale/sd" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/pages/search-results-page?page=2" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/usb-c-hubs/port-usb-c-pd" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/apple-lightning-usb-cables/cable" : "https://www.hypershop.com/collections/all",
"https://www.hypershop.com/collections/hyperdrive/ipad?sort_by=manual" : "https://www.hypershop.com/collections/all",
 "https://www.hypershop.com/collections/back-to-school-2024" : "https://www.hypershop.com/collections/all",
};

const currentUrl = window.location.href;

if (redirects[currentUrl]) {
    window.location.href = redirects[currentUrl];
}

    </script>
      
  </head>

  <body class="gradient body-event" id="body">
    <div id="page">
    
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTMMK6S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      
      
      
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=OPT-WJHPFDJ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      
      <a class="skip-to-content-link button visually-hidden" href="#MainContent">
        {{ "accessibility.skip_to_text" | t }}
      </a>

      {%- if settings.cart_type == 'drawer' -%}
        {%- render 'cart-drawer' -%}
      {%- endif -%}

      {% sections 'header-group' %}

      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
        <limespot></limespot> 
      </main>

      {% sections 'footer-group' %}
      <div class="right-overlay" onclick="handleRightOverlay()"></div>

      <script>
        window.shopUrl = '{{ request.origin }}';
        window.routes = {
          cart_add_url: '{{ routes.cart_add_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          cart_url: '{{ routes.cart_url }}',
          predictive_search_url: '{{ routes.predictive_search_url }}'
        };
  
        window.cartStrings = {
          error: `{{ 'sections.cart.cart_error' | t }}`,
          quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
        }
  
        window.variantStrings = {
          addToCart: `{{ 'products.product.add_to_cart' | t }}`,
          soldOut: `{{ 'products.product.sold_out' | t }}`,
          unavailable: `{{ 'products.product.unavailable' | t }}`,
          unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
        }
  
        window.accessibilityStrings = {
          imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
          shareSuccess: `{{ 'general.share.success_message' | t }}`,
          pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
          playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        }
      </script>
    </div>
  <!-- CRITEO START -->
{% render 'criteo-tracking' %}
<!-- CRITEO END -->
<!-- Beginning of Buy With Prime Cart -->
<script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>
<div
    id="amzn-bwp-cart"
    data-site-id="gdie9a998l"
    data-widget-id="w-6jK266WnVt97i7RWtzsZb6"
></div>
<!-- End of Buy With Prime Cart -->
   
</body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      new Mmenu(
        "#menu",
        {
          theme: "white",
          backButton: true,
          breadcrumbs: { separator: ">", removeFirst: 1 },
          navbars: {
            position: "top",
            content: ["breadcrumbs", "prev", "close"],
          },
          offCanvas: {
            page: {
                nodetype: "section"
            }
          },
          
          setSelected: {
            hover: true,
          },
        },
        {},
      );
    $(function() {
      CartJS.init({{ cart | json }});
      updateCartDrawer();
    }); 
      
    const mmListitemTextElements = document.querySelectorAll('.mm-listitem__text');
    mmListitemTextElements.forEach(function (mmListitemText) {
     const dataMmChild = mmListitemText.parentElement.getAttribute('data-mm-child');
     if(dataMmChild != null){
        mmListitemText.setAttribute('href', `#${dataMmChild}`);
     }
     
    });
   });
    
  </script>
</html>
