<footer class="hyper-footer">
  <div class="container">
    <div class="inside-container">
      <div class="logo-img">
        <a href="/">
          <img src="{{ section.settings.logo | img_url:'x45' }}" alt="footer logo" class="img-fluid"/>
        </a>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="footer-content">
            <h4 class="link_heading">{{ section.settings.abount_heading }}</h4>
            <div class="abount_content">{{ section.settings.abountuscontent }}</div>
            <p class="copyright-text desktop-copyright">{{ section.settings.copyright_text }}</p>
          </div>
        </div>
       {%- for block in section.blocks -%}
         <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4 mb-lg-0">
          <div class="footer-content">
            {% unless block.settings.heading == blank %}<h4 class="link_heading">{{block.settings.heading}}</h4>{% endunless %}
            <ul class="hyper-footer-links">
              {%- for link in block.settings.menu.links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
       {%- endfor -%}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="footer-content">
            <h4 class="link_heading">{{ section.settings.connect }}</h4>
            {%- if section.settings.showsocialmedia -%}
              {% render 'social-icons' %}
            {%- endif -%}
            {%- if section.settings.shownewsletter -%}
              <h4 class="link_heading">{{ section.settings.newsletter_heading }}</h4>
              {% if section.settings.newsletter_embed != '' %}
                {{ section.settings.newsletter_embed }}
              {% else %}
                <form id="email_signup" class="klaviyo-form klaviyo_gdpr_embed_MuExiJ" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
                  <input type="hidden" name="g" value="MuExiJ">
                  <input type="hidden" name="$fields" value="email">
                  <input type="hidden" name="$list_fields" value="email">
                  <div class="klaviyo_field_group signup-field">
                    
                    <input class="form-email" type="email" value="" name="email" id="k_id_email" placeholder="Enter Email" onblur="placeholder='Email'" onfocus="placeholder=''" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <div class="klaviyo_form_actions d-inline-block">
                      <button disabled type="submit" class="klaviyo_submit_button primary-btn common-btn ms-2 news_btn"><span>{{ section.settings.button_title }}</span></button>
                    </div>
                  </div>
                    <div class="error_message" id="error_message" style="display:none; color: red;">Please enter a valid email address.</div>

                  <div class="klaviyo_messages" style="display:none;">
                    <div class="success_message" style="display:none;">
                    {% if section.settings.newsletter_success != blank %}
                      {% assign text_with_h3 = section.settings.newsletter_success | replace: "<p><strong>", "<h3 class='link_heading fw-bold'>" | replace: "</strong></p>", "</h3>" %}
                      {{ text_with_h3 | replace: "<p>", '<div class="description"><p>' | replace: "</p>", "</p></div>" }}
                    {% else %}
                      <h3 class="link_heading fw-bold">Confirm Your Email</h3>
                      <div class="description">
                        <p>We sent you an email to confirm your subscription. To finish signing up, please click the confirmation link in the email.</p>
                      </div>
                    {% endif %}
                  </div>
                    <div class="success_message_already_added" style="display:none;">
                    {% if section.settings.newsletter_success_already_added != blank %}
                      {% assign text_with_h3 = section.settings.newsletter_success_already_added | replace: "<p><strong>", "<h3 class='link_heading fw-bold'>" | replace: "</strong></p>", "</h3>" %}
                      {{ text_with_h3 | replace: "<p>", '<div class="description"><p>' | replace: "</p>", "</p></div>" }}
  
                    {% else %}
                      <h3 class="link_heading fw-bold">Already signed up</h3>
                      <div class="description">
                        <p>We have already sent you an email to confirm your subscription. To finish signing up, please click the confirmation link in the email if you haven't done it yet.</p>
                      </div>
                    {% endif %}
                  </div>
                    <div class="error_message" style="display:none;"></div>
                  </div>
                </form>
                <script>
document.getElementById('email_signup').addEventListener('submit', function(event) {
  var emailField = document.getElementById('k_id_email');
  var emailValue = emailField.value;
  var emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
  var errorMessage = document.getElementById('error_message');
  var submitButton = document.querySelector('.klaviyo_submit_button');

  if (!emailPattern.test(emailValue)) {
    event.preventDefault(); // Prevent the form from submitting
    errorMessage.style.display = 'block'; // Show error message
    submitButton.disabled = true; // Disable submit button
  } else {
    errorMessage.style.display = 'none'; // Hide error message
    submitButton.disabled = false; // Enable submit button
  }
});

document.getElementById('k_id_email').addEventListener('input', function() {
  var emailField = document.getElementById('k_id_email');
  var emailValue = emailField.value;
  var emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
  var errorMessage = document.getElementById('error_message');
  var submitButton = document.querySelector('.klaviyo_submit_button');

  if (emailPattern.test(emailValue)) {
    errorMessage.style.display = 'none'; // Hide error message
    submitButton.disabled = false; // Enable submit button
  } else {
    errorMessage.style.display = 'block'; // Show error message
    submitButton.disabled = true; // Disable submit button
  }
});
</script>

              {% endif %}
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="row">
        <p class="copyright-text mobile-copyright">
          {{ section.settings.copyright_text }}
        </p>
      </div>
    </div>
  </div>
  <a href="javascript:void(0)" id="scroll" title="Scroll To Top">
    <i class="fas fa-arrow-circle-up"></i>
  </a>
</footer>
<style>
  .hyper-footer{
    background-color: {{section.settings.footer_bg}};
  }
  footer .footer-content, .abount_content, .mobile-copyright, footer .footer-content a{
    color: {{section.settings.footer_title_color}};
  }
  footer .footer-content .hyper-footer-links  a{
    font-size: {{section.settings.link_size}}px;  
    color: {{ section.settings.footer_link_color }};
  }
  footer .footer-content .hyper-footer-links a:hover{
    color: {{section.settings.footer_link_hover_color}};
  }
  footer .footer-content .abount_content p{
    font-size: {{section.settings.content_size}}px; 
  }
  footer .news_btn{
    background: {{section.settings.news_btn_bg}};
    border: 2px solid {{section.settings.news_btn_border}};
    color: {{section.settings.news_btn_color}};
  }
  footer .news_btn:hover{
    background: {{section.settings.hovernews_bg}};
    border: 2px solid {{section.settings.hovernewsbtn_border}};
    color: {{section.settings.hovernews_color}};
  }
  footer .link_heading{
    font-size: {{section.settings.Linkheading_size}}px;  
    color: {{ section.settings.Linkheading_color }};
  }
</style>
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }    
  ],
  "settings": [
    {
      "type":"image_picker",
      "id": "logo",
      "label":"Footer Logo"
    },
    {
      "type": "color",
      "id": "footer_bg",
      "default": "#000",
      "label": "Footer Background Color"
    },
    {
      "type":"header",
      "content":"Footer Font style"
    },
    {
      "type": "color",
      "id": "Linkheading_color",
      "default": "#fff",
      "label": "Footer Heading Color"
    },
    {
      "type": "range",
      "id": "Linkheading_size",
      "min": 10,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Links Heading Font Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "footer_title_color",
      "default": "#fff",
      "label": "Footer Content Color"
    },
    {
      "type": "range",
      "id": "content_size",
      "min": 10,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Links Font Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "link_size",
      "min": 10,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Links Font Size",
      "default": 14
    },
    {
      "type": "color",
      "id": "footer_link_color",
      "default": "#fff",
      "label": "Footer Link Color"
    },
    {
      "type": "color",
      "id": "footer_link_hover_color",
      "default": "#fff",
      "label": "Footer Link Hover Color"
    },
    {
      "type":"header",
      "content":"Footer About"
    },
    {
      "type":"text",
      "id":"abount_heading",
      "label":"Abount Heading",
      "default":"About Hyper"
    },
    {
      "type":"richtext",
      "id":"abountuscontent",
      "label":"Abount Us Content",
      "default":"<p>Celebrating our 18th year anniversary in 2023 Hyper Products Inc. is a dynamic team based in Silicon Valley, California. We specialize in delivering award winning, cutting edge IT & mobile accessories with a focus on Apple, portable power, data storage & connectivity products.</p><p><a href='/pages/about-us' title='About HYPER'>Read More</a></p>"
    },
    {
      "type":"text",
      "id":"connect",
      "label":"Connect",
      "default":"Connect"
    },
    {
        "type": "header",
        "content": "Common Settings"
    },
	{
        "type": "checkbox",
        "id": "showsocialmedia",
        "default": true,
        "label": "Show Social Media icons?"
    },
    {
        "type": "header",
        "content": "Newsletter Settings"
    },
    {
        "type": "checkbox",
        "id": "shownewsletter",
        "default": true,
        "label": "Show Newsletter?"
    },
    {
        "type": "text",
        "id": "newsletter_heading",
        "label": "Newsletter Heading",
        "default":"Get the Latest News"
    },
    {
        "type": "richtext",
        "id": "newsletter_success",
        "label": "Newsletter - Successfully added to list message"
    },
    {
        "type": "richtext",
        "id": "newsletter_success_already_added",
        "label": "Newsletter - Your email has already been added to the list message"
    },
    {
        "type": "textarea",
        "id": "newsletter_embed",
        "label": "Newsletter Embed Code",
        "info": "A default Klaviyo form is hardcoded into this template. You can overwrite the default with your own embed code here."
    },
    {
      "type": "header",
      "content": "Button Style"
	},
	{
      "type": "color",
      "id": "news_btn_bg",
      "default": "#00b5e2",
      "label": "Button Background Color"
	},
	{
      "type": "color",
      "id": "news_btn_color",
      "default": "#fff",
      "label": "Button Font Color"   
	},
    {
      "type": "color",
      "id": "news_btn_border",
      "default": "#fff",
      "label": "Button Border Color"
    },
    {
      "type": "header",
      "content": "Button Hover Style"
	},
	{
      "type": "color",
      "id": "hovernews_bg",
      "default": "#00b5e2",
      "label": "Button Background Color"
	},
	{
      "type": "color",
      "id": "hovernews_color",
      "default": "#fff",
      "label": "Button Font Color"   
	},
    {
      "type": "color",
      "id": "hovernewsbtn_border",
      "default": "#fff",
      "label": "Button Border Color"
    },
    {
      "type":"text",
      "id":"button_title",
      "label":"Button Label",
      "default":"Sign Up"
    },
    {
      "type": "header",
      "content": "copyright settings"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default":"Copyright © 2023 HYPER. All Rights Reserved."
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
