{%- for block in section.blocks -%}
<section class="product-information-section landing-product-information-section  container">
  <div class="inside-container feature-tab-container">
    <div class="row align-items-center">
     {% if block.settings.left_image %}
      <div class="col-12 col-sm-12 col-md-7">
         <div class="product-imgs">
            <a class="image_link" href="{{block.settings.link}}">
              <img alt="{{block.settings.heading}}" class="lazy img-fluid" src="{{block.settings.image | img_url:'original'}}">
            </a>   
         </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 sm-text-center">
        <h3 class="heading-type2">{{block.settings.heading}}</h3>
        {% unless block.settings.description == blank %}<div class="title-color mb-4">{{block.settings.description}}</div>{% endunless%}
        {% unless block.settings.link == blank %}<p><a class="primary-btn common-btn Button-style" href="{{block.settings.link}}">{{block.settings.button_label}}</a></p>{% endunless%} 
      </div>
      {% else %} 
       <div class="col-12 col-sm-12 col-md-5 sm-text-center sm-order-2">
        <h3 class="heading-type2">{{block.settings.heading}}</h3>
        {% unless block.settings.description == blank %}<div class="title-color mb-4">{{block.settings.description}}</div>{% endunless%}
        {% unless block.settings.link == blank %}<p><a class="primary-btn common-btn Button-style" href="{{block.settings.link}}">{{block.settings.button_label}}</a></p>{% endunless%} 
       </div>
       <div class="col-12 col-sm-12 col-md-7">
         <div class="product-imgs">
          <a class="image_link" href="{{block.settings.link}}">
            <img alt="{{block.settings.heading}}" class="lazy img-fluid" src="{{block.settings.image | img_url:'original'}}">
          </a>
         </div>
       </div>
      {% endif %} 
    </div>
  </div>
</section>
{%- endfor -%}

<style>
  .title-color{
    color:{{section.settings.text_color1}} !important;
  }
  .btn-learn{
  	background-color: {{section.settings.btn_bg1}} !important;
    color: {{section.settings.button_color1}} !important;
  }
  
  .Button-style{
     background-color:{{section.settings.btn_bg1}};
     color:{{section.settings.button_color1}};
  }
</style>

{% schema %}
{
  "name": "Value Preposition Rows",
  "settings": [
        {
        "type": "header",
        "content": "Section Style"
        },
		{
          "type":"color",
          "id":"text_color1",
          "label":"Font Color",
          "default":"#3d4246"
	  	},
	  	{
          "type": "color",
          "id": "btn_bg1",
          "default": "#4e008e",
          "label": "Button Background Color"
      	},
      	{
          "type": "color",
          "id": "button_color1",
          "default": "#fff",
          "label": "Button Font Color"
      	}
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",      
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading",
		  "info" : "Please include heading here"
        }, 
		{
          "type": "richtext",
          "id": "description",          
          "label": "Description",
		  "info" : "Please include description here"
        }, 
        {
          "type":"checkbox",
          "id":"left_image",
          "default": false,
          "label":"Show Image at Left?"
		},
		{
          "type": "image_picker",
          "id": "image",          
          "label": "Image"
        },
		{
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label",
		  "info" : "Please include Button link here"
        }
		
      ]
    }    
  ],
  "presets": [
    {
      "name": "Image With Text",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
