{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 12 -%}
  <div class="main-blog section-{{ section.id }}-padding latest-news-section">
    <div class="container">
      <div class="inside-container latest-news-container">
        <div class="news-head-txt blog-border-btm">
          <h2 class="main-heading text-center">{{ blog.title | escape }}</h2>
        </div>
        <div class="row">
        {%- for article in blog.articles -%}
        {%- if article and article != empty -%}
          <div class="col-12 col-sm-12 {% if forloop.index == 1 %} col-md-12 col-lg-12 {% elsif forloop.index == 2 or forloop.index == 3 %} col-md-6 col-lg-6 {% else %} col-md-6 col-lg-4 {% endif %} mb-3">
            <div class="blog-content {% if forloop.index == 1 %} content-borderRadius {% endif %}">
              <div class="{% if forloop.index == 1 %}d-flex sm-flex {% endif %}">
                <div class="{% if forloop.index == 1 %} blog-first-img {% else %} blog-image{% endif %}">
                  <img src="{{ article.image.src | image_url: width: 900 }}" alt="{{ article.image.src.alt | escape}}"  class="img-fluid">
                </div>
                <div class="{% if forloop.index == 1 %}blog-first-content {% else %} blog-txt-content {% endif %}">
                {%- if section.settings.show_date -%}
                 <p>{{ article.published_at | time_tag: format: 'date' }}</p>
                {% endif %}  
                {%- if section.settings.show_author -%}
                  <p class="mt-3">{{ article.author }}</p>
                {%- endif -%}
                 <h2 class="{% if forloop.index == 1 %} h1 main-heading {% else %} heading-type2 {% endif %}"> 
                    <a href="{{ article.url }}" class="full-unstyled-link">
                      {{ article.title | escape }}
                    </a>
                 </h2>
                  <a class="primary-btn common-btn" href="{{ article.url }}">Read More</a>  
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
       {%- if paginate.pages > 1 -%}
        <div class="col-12 col-lg-12">
          <div class="custom-pagination d-flex justify-content-center">
            <nav>
              <ul class="pagination">
                {% if paginate.previous %}
                <li class="page-item prev-next">
                  <a href="{{ paginate.previous.url }}">
                    <img src="{{ 'pagination-left.png' | asset_url }}" alt="left arrow" />
                  </a>
                </li>
                {% endif %}
                <div class="page-numbers">
                   {%- for part in paginate.parts -%}
                  <li class="page-item active-">
                    {%- if part.is_link -%}
                      <a
                        class="page-link Pagination__Item"
                        href="{{ part.url }}"
                        >
                        {{ part.title }}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span class="page-link Pagination__Item Pagination__Item--Current active">{{ part.title }}</span>
                      {%- else -%}
                        <span class="page-link Pagination__Item">{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
      
                </div>
               {% if  paginate.next %}
                <li class="page-item prev-next">
                  <a href="{{ paginate.next.url }}">
                    <img src="{{ 'pagination-right.png' | asset_url }}" alt="right arrow" />
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
       {%- endif -%}
      </div>
    </div>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
