<div class="filters-toolbar">
  <a href="{{ blog.url }}" class="back-btn primary-btn common-btn">{% include 'icon-chevron-left' %} Back</a>
</div>
<article class="container my-4" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="inside-container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="h1 main-heading  my-3 my-md-5"> {{ article.title | escape }}</h2>
        {% if section.settings.blog_show_author %}
          <p class="mb-3 article__author">{{ article.author }}</p>
        {% endif %}  
        {% if section.settings.blog_show_date %}
          <p class="mb-4">{{ article.published_at | time_tag: format: 'date' }}</p>
        {% endif %}  
        {%- if article.image -%}  
        <div class="article_image my-3 my-md-5">
          <img src="{{article.image | image_url: width: 1400 }}" class="lazy img-fluid" alt="{{ article.title }}">
        </div>
        {%- endif -%}  
      </div>
      <div  class='col-12 rte mb-4'>
        <div class="article_content text-start">
        {% assign parsed_article_content = article.content | lstrip %}
        {{ parsed_article_content | replace: '<p><img', '<p class="image-block"><img' | replace: '<p><em><img', '<p class="image-block"><em><img' | replace: '<p><em><span><img', '<p class="image-block"><em><span><img' | replace: '<p><span><img', '<p class="image-block"><span><img' | replace: '<p> <img', '<p class="image-block"><img' | replace: '<p>&nbsp;<img', '<p class="image-block"><img' | replace: '<p>','<p class="paragraph">' }}
        </div>
      </div>
    </div>
  </div>
</article>
<div class="comment_section">
    <hr aria-hidden="true"> {%- if blog.comments_enabled? -%}
    <div class="container">
      <div id="comments" class="inside-container">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 class="heading-type2" id="Comments-{{ article.id }}" tabindex="-1">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              <ul  class="article-template__comments-comment">
              {%- if comment.status == 'pending' and comment.content -%}

                  {{ comment.content }}
                  <li id="{{ comment.id }}" class="comment mb-5">
                    <div class="comment__content rte mb-2">
                      {{ comment.content }}
                    </div>
                    <span class="circle-divider caption-with-letter-spacing">- {{ comment.author }} </span>
                    <span class="comment__meta-item">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </li>
              {%- endif -%}

              {%- for comment in article.comments -%}
                 <li  id="{{ comment.id }}" class="comment mb-5">
                    <div class="comment__content rte mb-2">
                      {{ comment.content }}
                    </div>
                    <span class="circle-divider caption-with-letter-spacing">- {{ comment.author }} </span
                    ><span class="caption-with-letter-spacing">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                  </li>
                
              {%- endfor -%}
              </ul>
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              {% endif %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        
        <div class="comment-form">
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2 class="heading-type2">{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body heading-type2" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status heading-type2" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}

          <div
            {% if blog.moderated? == false %}
              class="article-template__comments-fields"
            {% endif %}
          >
            <div class="article-template__comment-fields">
              <div class="field field--with-error mb-3">
                <label class="field__label form-label" for="CommentForm-author">
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden="true">*</span></label
                >
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input form-control"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error mb-3">
                <label class="field__label form-label" for="CommentForm-email">
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input form-control"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error mb-3">
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span></label
              >
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input form-control"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
              
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.</span
                >
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption mb-2">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button primary-btn common-btn mb-3" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings":[
      {
        "type":"checkbox",
        "id":"blog_show_date",
        "label":"Show date",
        "default":true
      },
      {
        "type":"checkbox",
        "id":"blog_show_author",
        "label":"Show author",
        "default":false
      }
  ]
}
{% endschema %}
