{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .video-bg-section{
    background-color: {{section.settings.video_bg}};
  }
{%- endstyle -%}
{%- liquid
   assign video_id = section.settings.video.id | default: section.settings.video_url.id
-%}   
<section class="video-section section-{{ section.id }}-padding video-bg-section section_video">
  <div class="{% unless section.settings.full_width %} container {% endunless %}">
    <div class="{% unless section.settings.full_width %}inside-container{% endunless %}">
      {% if section.settings.heading != blank %}
        <h2 class="heading-type2 title inline-richtext">{{ section.settings.heading }}</h2>
      {% endif %}
      
      <div class="video-container">
    {%- if section.settings.video == null and section.settings.video_url != null -%}
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&loop=1&autopause=0"
              class="js-youtube" autoplay="1"
              allow="autoplay; encrypted-media"
              allowfullscreen width="100%" height="500px"
        ></iframe>
        
      {%- else -%}
        <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1&loop=1&autopause=0"
              class="js-vimeo" autoplay="1"
              allow="autoplay; encrypted-media" width="100%" height="500px"
              allowfullscreen
        ></iframe>
      {%- endif -%}
      {% else %}
        {% assign video_auto = section.settings.autoplay  %}
        
        {{ section.settings.video | video_tag: id: "my-video", controls: true, autoplay: true, loop: true }}

      <button id="play-button" class="d-none">
        <img src="{{ 'play-icon.png' |asset_url}}" alt="play icon" />
      </button>
    {%- endif -%}  
  </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Video autoplay on/off",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Section Style"
    },
    {
      "type":"color",
      "id":"video_bg",
      "label":"Section Background Color",
      "default":"#fff"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
